*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    /* overflow: hidden; */
    transition: .2s linear;
}
html{
    scroll-behavior: smooth;
    
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url(bg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.btn{
    display: inline-block;
    padding: .7rem 3.5rem;
    margin-top: .7rem;
    border-radius: 5rem;
    background:#333;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    
}
.btn:hover{
    background: #ff0099;
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1 solid rgba(0,0,0,.3);
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
}
.logo span{
    color: #ff004f;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    
}

 header .navbar a{
    color:#333;
    text-decoration: none;
    font-size: 18px;
    padding: 0 1.5rem;
    
}
header .navbar a:hover{
    color:#ff0099;
}
header .icons a{
    font-size: 23px;
    color: #333;
    margin-left: 20px; 
    padding: 5px; 
}
header .icons a:hover{
    color: #ff004f;
}
#home{
    align-items: center;
    padding: 15rem 15%;
    max-width: 60rem;
}
#home h1{
    font-size: 60px;
    color: #333;
}
#home h3{
    font-size: 25px;
    color: #ff004f;
    padding: .5rem 0;
    line-height: 1.5;
}
#home p{
    font-size: 15px;
    color: #4a4848;
    padding: .5rem 0;
    line-height: 1.5;
}
#about h1{
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,.05);
}
#about h1 span{
    color: #ff0099;
}
#about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
#about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}
#about .row .video-container video{
    width: 100%;
    border: 1.5rem solid#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    object-fit: cover;
    height: 100%;
}
#about .row .video-container h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;  
}
#about .row .content{
    flex: 1 1 40rem;
}
#about .row .content h3{
    font-size: 2.5rem;
    color: #333;
}
#about .row .content p{
    font-size: 1rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.icons-container .icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex: 1 1 5rem;
}
.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icons-container .icons h3{
    color: #333;
    font-size: 18px;

}
.icons-container .icons span{
    color: #999;
    font-size: 14px;
}
#product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
#product h1{
text-align: center;
    font-size: 2.8rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,.05);
}
#product h1 span{
    color: #ff0099;
}
#product .box-container .box{
    flex: .5 0 10rem;
    box-shadow:0 .2rem .5rem rgba(0,0,0,.1) ;
    border-radius: .5rem;
    border: .5rem solid rgba(0,0,0,.1);
    position: relative;
}
#product .box-container .box .discount{
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: #ff0099;
    background: rgba(255,51,153,.05);
    z-index: 1;
    border-radius: .5rem;
}
#product .box-container .box .image{
    position: relative;
    padding-top: 1rem;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
#product .box-container .box .image img{
    height: 20rem;
}
#product .box-container .box:hover .image img{
    transform: scale(1.1);
}
#product .box-container .box .image .icons{
    position: absolute;
    right:  0;
    left: 0;
    bottom: -7rem;
    display: flex;
}
#product .box-container .box:hover .image .icons{
    bottom: 0;
}
 #product .box-container .box .image .icons a{
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    width: 50%;
    background: #ff0099;
    color: white;
 }
 #product .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
 }
 #product .box-container .box .image .icons a:hover{
    background: #333;
 }
#product .box-container .box .content{
    padding: 1rem;
    text-align: center;
} 
#product .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}
#product .box-container .box .content .price{
    font-size: 1.5rem;
    color: #ff0099;
    padding-top: .5rem;
    font-weight: bolder;
}
#product .box-container .box .content .price span{
    font-size: 1rem;
    font-weight: lighter;
    color: #999;
    text-decoration: line-through;
}
#review h1{
    text-align: center;
        font-size: 2.8rem;
        color: #333;
        padding: 1rem;
        margin: 2rem 0;
        background: rgba(255,51,153,.05);
}
#review h1 span{
        color: #ff0099;
}
#review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
#review .box-container .box{
    flex: .5 0 10rem;
    box-shadow:0 .2rem .5rem rgba(0,0,0,.1) ;
    border-radius: .5rem;
    padding: .5rem 1rem;
    position: relative;
    border: .1rem solid rgba(0,0,0,.1);
}
#review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #eee;

}
#review .box-container .box .stars i{
    color: #ff0099;
    font-size: 1rem;
}
#review .box-container .box p{
    color: #333;
    font-size: 1rem;
    line-height: 1;
    padding-top: .5rem;
}
#review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
#review .box-container .box .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem;
}
#review .box-container .box .user h3{
    font-size: 1rem;
    color: #333;
}
#review .box-container .box .user span{
    font-size: .8rem;
    color: #999;
}
#contact h1{
text-align: center;
font-size: 2.8rem;
color: #333;
padding: 1rem;
margin: 2rem 0;
background: rgba(255,51,153,.05);
}
#contact h1 span{
color: #ff0099;
}
#contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5;
    align-items: center;
}
#contact .row form{
    flex: 1 0 15rem;
    padding: .5rem 1rem;
    box-shadow: 0 .5 1.5rem rgba(0,0,0,.1);
    border: .3rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
    position: relative;
}
#contact .row .image{
    flex: 1 0 15rem;
    box-shadow: 0 .5 1.5rem rgba(0,0,0,.1);
    border: .3rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
    position: relative;
}
#contact .row .image img{
    width: 100%;
    height: 100vh;
}
#contact .row form .box{
    padding: .8rem;
    font-size: 1rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
#contact .row form .box:focus{
    border-color: #ff0099;
}
#contact .row form textarea{
    height: 15rem;
    resize: none;
}
footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5;
}
footer .box-container .box{
    flex: 1 0 10rem;
}
footer .box-container .box h3{
    color: #333;
    font-size: 1rem;
    padding: .2rem 0;
}
footer .box-container .box a{
    display: flex;
    color: #666;
    font-size: 1rem;
    padding: .4rem 0;
}
footer .box-container .box a:hover{
    color: #ff0099;
    text-decoration: underline;
}
footer .box-container .box img{
    margin-top: .5rem;
    width: 40%;
    height: 40%;
}
footer .credit{
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}
footer .credit span{
    color: #ff004f;
}








@media (maxwidth:991px){
    html{
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
    
}

@media (maxwidth:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        left: 0;right: 0;top: 100%;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0,100% 0,0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
    
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}

@media (maxwidth:450px){
    html{
        font-size: 50%;
    }

   
}